.check {
    background-color: rgba(6, 214, 93, 0.425);
    margin-top: 10%;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
    width: 370px;
}

.status {
    color: lightslategray;


}

.success {
    text-decoration: line-through;
    color: black;
}